
@model Overtime.Areas.Admin.ViewModel.BranchIndexVM



<select id="ddlBanks"  name="ddlBanks" ></select>
<a href="@Url.Action("Branches", "Create")" class="btn btn-primary btn-lg  pull-left">
    <i class="fa fa-plus"></i>
  فرع جديد
</a>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="4">

                @*@Html.Partial("../../Views/Shared/Partial/_paggination", @Model.Paggination)*@

            </td>
        </tr>
        <tr>
            <th>أسم الفرع </th>
            <th>أنشىء بواسطة</th>
            <th>عنوان الفرع </th>
            <th>عمليات</th>
         
        </tr>

        </thead>

        <tbody id="datatable">
        <tr class="template">
            <td class="name"> </td>
            <td class="ids"></td>
            <td class="address"> </td>
            <td class="opertation">
                <div class="btn-group btn-group-xs">
                    <a href="#" class="btn-primary btn EditTemp" >
                        تعديل
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="#" class="btn-danger btn DeleteTemp" data-post="هل تريد التعديل">
                        حذف
                        <i class="fa fa-remove"></i>
                    </a>
                </div>

            </td>
        </tr>



        </tbody>


       

    </table>






</div>


